<div class="sidebar hide-sidebar">
    <div class="sidebar-menu-logo">
        <div class="sidebar-logo-header">
            <img class="sidebar-ctu-logo" src="/static/img/ctu-logo.png" alt="">
            <h3>CEBU TECHNOLOGY UNIVERSITY - ARGAO CAMPUS</h3>
        </div>
        <img class="sidebar-menu-btn" src="/static/img/close.png" alt="">
    </div>
    <div class="sidebar-links">
        <ul>
            {% include 'sidebar-components/office-of-student-life.html' %}
            {% include 'sidebar-components/scholarship.html' %}
        </ul>
    </div>
</div>