<nav class="navbar">
    <div class="navbar-menu-logo">
        <img class="navbar-menu-btn" src="/static/img/menu.png" alt="">
        <div class="navbar-logo-header">
            <img class="navbar-ctu-logo" src="/static/img/ctu-logo.png" alt="">
            <h3>CEBU TECHNOLOGY UNIVERSITY - ARGAO CAMPUS</h3>
        </div>
    </div>
    <div class="navbar-links">
        {% if url == 'home' %}
            <a href="{% url 'home' %}" style="font-weight: bolder;">Home</a>
        {% else %}
            <a href="{% url 'home' %}">Home</a>
        {% endif %}

        {% if url == 'about_us' %}
            <a href="{% url 'about_us' %}" style="font-weight: bolder;">About Us</a>
        {% else %}
            <a href="{% url 'about_us' %}">About Us</a>
        {% endif %}
        
        {% if url == 'programs' %}
            <a href="{% url 'programs' %}" style="font-weight: bolder;">Programs</a>
        {% else %}
            <a href="{% url 'programs' %}">Programs</a>
        {% endif %}

        {% if url == 'projects' %}
            <a href="{% url 'projects' %}" style="font-weight: bolder;">Projects</a>
        {% else %}
            <a href="{% url 'projects' %}">Projects</a>
        {% endif %}

    </div>
</nav>