<li class="header-sidebar ">
    <a href="#" class="sidebar-name scholar-btn">SCHOLARSHIP 
        <span class="fas fa-caret-down second"></span>
    </a>
    <ul class="drop-down-sidebar show">
        <li><a href="#">Submission of Requirements Tracker</a></li>
        <li><a href="#">Scholars Profile and Validation</a></li>
        <li><a href="#">Grade Submission with GPA Computation</a></li>
        <li><a href="#">Mentorship Program</a></li>
        <li><a href="#">Admin Cost Liquidation Tracker</a></li>
        <li><a href="#">CHED Reports Submission</a></li>
        <li><a href="#">Transaction Reports</a></li>
    </ul>
</li>